.login-container {
  width: 100%;
  height: 100%;

  background: #ffffff;
  border: 1px solid #d6e4ff;
  border-radius: 12px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);

  display: flex;
  flex-direction: column;

  padding: 60px 70px;
  overflow-y: auto;

  box-sizing: border-box;

  &__content {
    width: 100%;
    max-width: 420px;
    margin: auto 0;
  }
}

@media (max-width: 992px) {
  .login-container {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .login-container {
    padding: 24px;
    border-radius: 0;
  }

  .login-container__content {
    max-width: 100%;
  }
}